<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>


<div class="container">
    <div class="alert-info"  th:if="${activation}">
        <p th:text="${activation}"></p>
    </div>


    <div class="alert-info"  th:if="${welcome}">
        <p th:text="${welcome}"></p>
    </div>


    <div class="jumbotron" th:if="${items}">
        <h2 class="col-md-3">Items</h2>
        <hr>
        <div class="row">
            <a class="btn-outline-secondary btn-col-sm" href="/admin/newItem" style="font-size: 1.5rem; margin-left: 10%; margin-right: 10%;">
                <i class="fas fa-plus">New Item</i>
            </a>
            <a class="btn-outline-secondary btn-col-sm" href="/admin/users" style="font-size: 1.5rem; margin-left: 10%; margin-right: 10%;">
                <i class="fas fa-users">New Item</i>
            </a>
        </div>
        <hr>
        <br>
        <div class="row">
            <form class="form-inline col" th:action="@{/admin/searchItems}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input id="query" class="form-control" placeholder="Search items..." th:name="query" th:value="${query}" type="text" minlength="4">
                </div>
            </form>
            <form class="form-inline col" th:action="@{/admin/sort}">
                <div class="input-group input-group-prepend">
                        <span class="input-group-text" id="basic-addon2"><strong>Sort by:</strong></span>
                    <select class="form-control" id="field" name="field" onchange="this.form.submit()">
                        <option th:selected="${field == 'name'}" value="name">Name</option>
                        <option th:selected="${field == 'brand'}" value="brand">Name</option>
                        <option th:selected="${field == 'category'}" value="category">Name</option>
                        <option th:selected="${field == 'recent'}" value="recent">Recently added</option>
                        <option th:selected="${field == 'priceAsc'}" value="name">priceAsc</option>
                        <option th:selected="${field == 'priceDesc'}" value="name">priceDesc</option>
                    </select>
                    <input th:name="query" th:value="${query}" hidden/>
                </div>
            </form>

            <table class="table .thead-dark table-striped" th:object="${items}">
                <tr style="height: 50px">
                    <th>Item</th>
                    <th>Category</th>
                    <th>Brand</th>
                    <th>Price</th>
                    <th>Number of images</th>
                    <th>isActive</th>
                    <th>Action</th>
                </tr>
                <div th:each="item : ${items}">
                    <tr>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.category}"></td>
                        <td th:text="${item.brand}"></td>
                        <td th:text="${item.price}"></td>
                        <td th:text="${item.getImages().size()}"></td>
                        <td th:text="${item.isActive()}"></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-outline-dark" href="#" th:href="@{'adminView/' + ${item.id}}" style="padding: 2px; margin-right: 4px">Edit item</a>
                                <div th:if="${item.isActive()}">
                                    <a class="btn btn-outline-danger" href="#" th:href="@{'activation/' + ${item.id}}" style="padding: 2px; margin-right: 4px">Deactivate</a>
                                </div>
                                <div th:unless="${item.isActive()}">
                                    <a class="btn btn-outline-success" href="#" th:href="@{'activation/' + ${item.id}}" style="padding: 2px; margin-right: 4px">Activate</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
    </div>


    <div class="jumbotron" th:if="${users}">
        <h2 class="col-md-3">Users</h2>
        <hr>
        <div class="row">
            <form class="form-inline col-sm" th:action="@{/admin/searchUsers}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="searchUser"><i class="fas fa-search"></i></span>
                    </div>
                    <input id="userSearch" class="form-control" placeholder="Search users..." th:name="userSearch" th:value="${userSearch}" type="text" minlength="4">
                </div>
            </form>
            <a class="btn-outline-secondary btn col-sm"  href="/admin/adminhome" style="font-size: 1.5rem; margin-left: 10%; margin-right: 10%"><i class="fas fa-basketball-ball">Items</i></a>
        </div>
        <hr>
        <table class="table .thead-dark table-striped" th:object="${users}">
            <tr style="height: 50px">
                <th>Id</th>
                <th>Username</th>
                <th>Total orders</th>
                <th>Enable</th>
                <th>Action</th>
            </tr>
            <div th:each="user : ${users}">
                <tr>
                <td th:text="${user.id}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.getCartsOrderedByIdDesc().size()}"/>
                <td th:text="${user.isEnable()}"/>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-outline-dark" href="#" th:href="@{'../../admin/adminUser' + ${user.id}}" style="padding: 2px; margin-right: 4px">Details</a>
                        <div th:if="${user.isEnable()}">
                            <a class="btn btn-outline-danger" href="#" th:href="@{'../../admin/enable' + ${user.id}}" style="padding: 2px; margin-right: 4px">Disable</a>
                        </div>
                        <div th:unless="${item.isEnable()}">
                            <a class="btn btn-outline-success" href="#" th:href="@{'../../admin/enable' + ${user.id}}" style="padding: 2px; margin-right: 4px">Enable</a>
                        </div>
                    </div>
                </td>
                </tr>
            </div>
        </table>

    </div>

</div>
</body>
</html>