<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments.html :: headerfiles">
</head>
<body>
<header th:insert="fragments.html :: nav"></header>
<br>
<div class="container jumbotron">
    <div th:if="${noOrdersYet}">
        <h2 class="jumbotron" th:text="${noOrdersYet}">No orders yet</h2>
    </div>
    <div th:if="${carts}">
        <h1><i class="fas fa-shopping-cart" style="color: indianred"></i></h1>
        <br>
        <table class="table .thead-dark table-striped" style="width: 100%;" th:object="${carts}">
            <tr style="height: 50px;">
                <th>Date</th>
                <th>Number of items</th>
                <th>Completed</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <div th:each="cart: ${carts}">
                <tr>
                <td th:text="${#dates.format(cart.date, 'dd-MMM-yyyy HH:MM')}"></td>
                <td th:text="${cart.calcNumberOfItems()}"></td>
                <td th:text="${cart.completed}"></td>
                <td th:text="${cart.calcCartPrice()}"></td>
                <td>
                    <div style="padding: 2px">
                        <a th:id="'b'+${cart.id}" class="btn-outline-secondary btn col-sm" th:onclick="|expandOrder('b'+${cart.id},${cart.id})|">More</a>
                    </div>
                </td>
                </tr>
                <tr th:id="${cart.id}" style="display: none">
                    <td colspan="5">
                        <table class="table table-striped table-dark" style="background-color: #4d5154">
                            <tr style="height: 50px">
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Brand</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                            <div th:each="cartItem : ${cart.getCartItems()}">
                                <tr>
                                    <td th:text="${cartItem.getItem().name}"></td>
                                    <td th:text="${cartItem.quantity}"></td>
                                    <td th:text="${cartItem.getItem().brand}"></td>
                                    <td th:text="${cartItem.getItem().price}"></td>
                                    <td>
                                        <div style="padding: 2px">
                                            <a class="btn btn-outline-secondary" href="#" th:href="@{'..item/addToCart/' + ${cartItem.getItem().id}}" style="padding: 2px">Add to Cart</a>
                                            <a class="btn btn-outline-secondary" href="#" th:href="@{'../item/'+${cartItem.getItem().id}}" style="padding: 2px">Show item</a>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                            <tr style="height: 50px;">
                                <td>Number of items:</td>
                                <td th:text="${cart.calcNumberOfItems()}"></td>
                                <td>Cart checkout:</td>
                                <td><strong><h5 th:text="${cart.getPrice()}"></h5></strong></td>
                            </tr>
                        </table>

                    </td>

                </tr>
            </div>
        </table>
    </div>
    <div th:if="${order}">
        <table class="table table-striped table-dark" style="width: 100%" th:object="${order}">
            <tr style="height: 50px">
                <th>Item</th>
                <th>Quantity</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            <div th:each="cartItem : ${order.getCartItems()}">
                <tr>
                    <td th:text="${cartItem.getItem().name}"></td>
                    <td th:text="${cartItem.quantity}"></td>
                    <td th:text="${cartItem.getItem().brand}"></td>
                    <td th:text="${cartItem.getItem().price}"></td>
                    <td>
                        <div style="padding: 2px">
                            <a class="btn btn-outline-secondary" href="#" th:href="@{'..item/addToCart/' + ${cartItem.getItem().id}}" style="padding: 2px">Add to Cart</a>
                            <a class="btn btn-outline-secondary" href="#" th:href="@{'../item/'+${cartItem.getItem().id}}" style="padding: 2px">Show item</a>
                        </div>
                    </td>
                </tr>
            </div>
            <tr class="table-info" style="height: 50px;">
                <td>Number of items:</td>
                <td th:text="${order.calcNumberOfItems()}"></td>
                <td>Cart checkout:</td>
                <td><strong><h5 th:text="${order.getPrice()}"></h5></strong></td>
            </tr>
        </table>

    </div>
</div>

<script>
    function expandOrder(bId, id) {
        let buttonId = document.getElementById(bId);
        let expandElement = document.getElementById(id);
        if (expandElement.style.display === "none") {
            expandElement.style.display = "";
            buttonId.innerHTML = "Less";
        } else {
            expandElement.style.display = "none";
            buttonId.innerHTML = "More";
        }
    }
</script>


</body>
</html>